.ambassador_card {
    width: 100%;
    border-radius: 10px;
    height: 100%;
    background-color: #242623;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px 12px;
    transition: 0.15s;

    &:hover {
        box-shadow: 1px 0px 20px 1px #ff8a1c59;
    }

    .card_img {
        height: 154px;
        object-fit: contain;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        overflow: hidden;

        img {
            object-fit: cover;
            height: 100%;
            width: 100%;
        }
    }

    .card_body {
        display: flex;
        justify-content: start;
        flex-direction: column;
        gap: 12px;
        height: calc(100% - 160px);

        .card_body_head {
            color: var(--primary-text);
            font-size: 18px;
            font-family: "MedievalSharp", cursive;
            display: flex;
            align-items: start;
        }

        .card_body_content {
            .time_frame_wrap {
                background-image: linear-gradient(to bottom right, #00D1FF, #31CB5C);
                background-origin: border-box;
                background-clip: content-box, border-box;
                border: 1px solid transparent;
                border-radius: 10px;
                margin-bottom: 8px;

                .time_frame {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: var(--primary-background);
                    padding: 2px 4px;
                    border-radius: 8px;
                    margin: 1px;

                    .text {
                        background-image: linear-gradient(to bottom right, #00D1FF, #31CB5C);
                        -webkit-background-clip: text;
                        color: transparent;
                    }
                }
            }
        }

        .tabs {
            display: flex;
            flex-wrap: wrap;
            gap: 4px;
            color: var(--primary-white);
            // position: relative;

            .angle_tag {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 4px 8px;
                font-size: 12px;
                border-radius: 6px;
                background: var(--primary-background);
                gap: 4px;

                .text {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 1;
                    -webkit-box-orient: vertical;
                    color: var(--primary-text);
                }
            }

            .global {
                .angle_tag {
                    position: relative;

                    &::before {
                        content: "";
                        inset: 0;
                        position: absolute;
                        border-radius: 6px;
                        padding: 1px;
                        background: linear-gradient(to bottom right, #622BFD, #DA4370);
                        -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
                        -webkit-mask-composite: xor;
                        mask-composite: exclude;
                        pointer-events: none;
                    }

                    .text {
                        background-image: linear-gradient(to bottom right, #622BFD, #DA4370);
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                    }
                }
            }

            .graph {
                .angle_tag {
                    position: relative;

                    &::before {
                        content: "";
                        inset: 0;
                        position: absolute;
                        top: 0;
                        left: 0;
                        border-radius: 6px;
                        padding: 1px;
                        background: linear-gradient(to bottom right, #E58A02, #DAB943);
                        -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
                        -webkit-mask-composite: xor;
                        mask-composite: exclude;
                        pointer-events: none;
                    }

                    .text {
                        background-image: linear-gradient(to bottom right, #E58A02, #DAB943);
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                    }
                }
            }
        }
    }

    .card_button {
        margin-top: auto;
        cursor: pointer;
        position: relative;

        &::before {
            content: "";
            inset: 0;
            position: absolute;
            top: 0;
            left: 0;
            padding: 1px;
            background: linear-gradient(to bottom right, #FDCC2B, #DAB943);
            -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
            -webkit-mask-composite: xor;
            mask-composite: exclude;
            pointer-events: none;
        }

        .button {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 10px;

            .text {
                // display: -webkit-box;
                background-image: linear-gradient(to bottom right, #FDCC2B, #DAB943);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }

    }
}