.page_box {
    display: flex;
    gap: 40px;
    margin-bottom: 15px;

    @media (max-width: 767px) {
        margin-bottom: 0px;
    }

    @media (max-width: 1199px) {
        gap: 20px;
    }

    .btn_gray {
        padding: 16px 24px;
        border: none;
        background-color: #4e4e4e94;
        font-size: 16px;
        font-weight: 500;
        color: #f5efdb;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;

        @media (max-width: 1600px) {
            font-size: 14px;
            padding: 10px 20px;
        }
    }

    .btn_delete {
        background-color: #ff9e9826;
        border: none;
        padding: 13px;

        @media (max-width: 1600px) {
            padding: 10px;
        }

        img {
            @media (max-width: 1600px) {
                width: 17px;
            }
        }
    }

    .pending_synergies_content_header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 32px;

        @media (max-width: 1600px) {
            margin-bottom: 20px;
        }

        @media (max-width: 1199px) {
            flex-wrap: wrap;
        }

        @media (max-width: 767px) {
            margin-bottom: 0px;
            background-color: #191917;
        }

        .content_left {
            display: flex;
            align-items: center;
            gap: 10px;

            @media (max-width: 767px) {
                width: 100%;
                padding-inline: 24px;
                padding-top: 15px;
                gap: 10px;
                justify-content: space-between;
            }

            h2 {
                color: #fff;
                font-weight: 500;
                font-family: "MedievalSharp", cursive;
                font-size: 42px;

                @media (max-width: 1600px) {
                    font-size: 28px;
                }
            }

            .search_box {
                position: relative;
                min-width: 450px;

                @media (max-width: 1199px) {
                    min-width: 230px;
                }

                @media (max-width: 767px) {
                    min-width: 30px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }


                input {
                    background-color: #191917;
                    padding: 10px 24px 10px 52px;
                    border: 1px solid #3c3c3c;
                    border-radius: 9px;
                    width: 100%;
                    font-size: 16px;
                    color: #f5efdb;

                    @media (max-width: 767px) {
                        display: none;
                    }

                    &::placeholder {
                        color: #f5efdb;
                        font-size: 18px;
                        opacity: 0.5;
                    }
                }

                .search_icon {
                    position: absolute;
                    left: 24px;
                    top: 50%;
                    transform: translateY(-50%);

                    @media (max-width: 1199px) {
                        left: 15px;
                    }
                }
            }
        }

        .content_right {
            display: flex;
            align-items: center;
            gap: 10px;

            @media (max-width: 767px) {
                display: none;
            }

            a {
                color: #f5efdb;
                text-decoration: none;
                font-size: 24px;
                font-weight: 500;
                line-height: 27.12px;
                font-family: "MedievalSharp", cursive;

                @media (max-width: 1600px) {
                    font-size: 18px;
                }
            }
        }
    }

    .pending_synergies_page_data {
        padding-block: 30px 20px;
        border-radius: 20px;
        background-color: #191917;
        background-image: url("../../assets/model-frame.png");
        background-repeat: no-repeat;
        background-position-x: 10px;
        background-position-y: 10px;
        min-height: 540px;
        height: calc(100% - 80px);

        @media(max-width: 1600px) {
            height: calc(100% - 65px);
        }

        @media (max-width: 767px) {
            border-radius: 0;
            padding-block: 20px 0px;
            background-color: #191917;
            background-image: none;
        }

        .page_data {
            background-color: transparent;
            height: 100%;
            overflow-y: auto;


            @media (max-width: 767px) {
                height: calc(100vh - 272px);
            }

            .synergies_page_header {
                padding: 0px 34px 21px 34px;
                display: flex;
                align-items: center;

                @media (max-width: 767px) {
                    padding: 4px 24px 24px 24px;
                    border-bottom: 1px solid #f5efdb26;
                }

                .synergies_toggleWrap {
                    display: flex;
                    align-items: center;
                    font-size: 24px;
                    color: #fff;
                    background-color: #242623;
                    font-weight: 500;
                    font-family: "MedievalSharp", cursive;

                    .synergies_toggle_btn {
                        height: 44px;
                        width: 65px;
                        padding: 10px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background-color: transparent;
                        border: none;

                        span {
                            font-family: "MedievalSharp", cursive;
                            color: #e6eaee81;
                        }

                        &.active {
                            background-color: rgba(78, 78, 78, 0.58);

                            span {
                                color: #F5EFDB;
                            }
                        }
                    }
                }
            }

            .synergies_page_body {
                padding-inline: 30px;

                @media (max-width: 767px) {
                    padding-top: 24px;
                    padding-inline: 15px;
                }

                .card_container {
                    width: 100%;
                    display: flex;
                    flex-wrap: wrap;
                    padding-bottom: 20px;
                    row-gap: 24px;
                    margin-left: -12px;
                    margin-right: -12px;
                    flex-grow: 1;

                    @media (max-width: 767px) {
                        margin-left: -8px;
                        margin-right: -8px;
                        row-gap: 16px;
                    }

                    .card_wrap {
                        padding-inline: 12px;
                        flex-basis: calc(100% / 5);
                        max-width: calc(100% / 5);

                        @media (max-width: 1600px) {
                            flex-basis: calc(100% / 4);
                            max-width: calc(100% / 4);
                        }

                        @media (max-width: 1300px) {
                            flex-basis: calc(100% / 3);
                            max-width: calc(100% / 3);
                        }

                        @media (max-width: 1000px) {
                            padding-inline: 8px;
                            flex-basis: calc(100% / 2);
                            max-width: calc(100% / 2);
                        }

                        @media (max-width: 500px) {
                            flex-basis: calc(100%);
                            max-width: calc(100%);
                        }

                        .card {
                            height: 100%;
                            padding: 12px 16px;
                            display: flex;
                            flex-direction: column;
                            gap: 16px;
                            border-radius: 10px;
                            background-color: #242623;

                            &:hover {
                                box-shadow: 1px 0px 20px 1px rgba(255, 138, 28, 0.35);
                            }

                            .card_image {
                                object-fit: contain;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                overflow: hidden;
                                border-radius: 8px;
                                width: 100%;

                                @media (max-width: 1300px) {
                                    width: 100%;
                                    max-width: none;
                                }

                                img {
                                    object-fit: cover;
                                    height: 100%;
                                    width: 100%;
                                }


                            }

                            .card_body {
                                display: flex;
                                flex-direction: column;
                                gap: 10px;

                                .name {
                                    color: #F5EFDB;
                                    font-family: "MedievalSharp", cursive;
                                    font-size: 18px;
                                }

                                .tabs {
                                    display: flex;
                                    flex-wrap: wrap;
                                    gap: 4px;
                                    color: #ffffff;

                                    .angle_tag {
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                        padding: 4px 8px;
                                        font-size: 12px;
                                        border-radius: 6px;
                                        background: #191917;
                                        gap: 4px;

                                        .text {
                                            overflow: hidden;
                                            text-overflow: ellipsis;
                                            display: -webkit-box;
                                            -webkit-line-clamp: 1;
                                            -webkit-box-orient: vertical;
                                            color: #f5efdb;
                                        }
                                    }

                                    .global {
                                        .angle_tag {
                                            position: relative;

                                            &::before {
                                                content: "";
                                                inset: 0;
                                                position: absolute;
                                                border-radius: 6px;
                                                padding: 1px;
                                                background: linear-gradient(to bottom right, #622BFD, #DA4370);
                                                -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
                                                -webkit-mask-composite: xor;
                                                mask-composite: exclude;
                                                pointer-events: none;
                                            }

                                            .text {
                                                background-image: linear-gradient(to bottom right, #622BFD, #DA4370);
                                                -webkit-background-clip: text;
                                                -webkit-text-fill-color: transparent;
                                            }
                                        }
                                    }

                                    .graph {
                                        .angle_tag {
                                            position: relative;

                                            &::before {
                                                content: "";
                                                inset: 0;
                                                position: absolute;
                                                top: 0;
                                                left: 0;
                                                border-radius: 6px;
                                                padding: 1px;
                                                background: linear-gradient(to bottom right, #E58A02, #DAB943);
                                                -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
                                                -webkit-mask-composite: xor;
                                                mask-composite: exclude;
                                                pointer-events: none;
                                            }

                                            .text {
                                                background-image: linear-gradient(to bottom right, #E58A02, #DAB943);
                                                -webkit-background-clip: text;
                                                -webkit-text-fill-color: transparent;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                .synergies_pagination {
                    padding-right: 18px;
                    display: flex;
                    justify-content: end;
                    align-items: center;
                    margin-top: 25px;

                    .synergies_pagination_content {
                        display: flex;
                        justify-content: space-between;
                        color: #BDBDBD;

                        .synergies_pagination_content_text {
                            font-size: 14px;
                            color: #fff;
                            display: flex;
                            gap: 8px;

                            .pagination_head {
                                color: #BDBDBD;
                            }

                            .pagination_dropdown {
                                select {
                                    border: none;
                                    background: transparent;
                                    color: #fff;
                                    cursor: pointer;
                                    font-family: "Inter", sans-serif;
                                    font-size: 14px;
                                    outline: 0px;

                                    option {
                                        background-color: #242623;
                                    }
                                }
                            }

                            .synergies_pagination_content_arrows {
                                display: flex;
                                gap: 12px;

                                .table_pagination_content_button {
                                    background: transparent;
                                    border: none;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;

                                    svg {
                                        path {
                                            height: 20px;
                                            width: 20px;
                                        }
                                    }

                                    &:focus {
                                        svg {
                                            path {
                                                fill: #fff;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}