.page_box {
    display: flex;
    gap: 40px;
    margin-bottom: 15px;

    @media (max-width: 767px) {
        margin-bottom: 0px;
        flex-direction: column;
    }

    @media (max-width: 1199px) {
        gap: 20px;
    }

    .btn_gray,
    .btn_transparent {
        padding: 16px 24px;
        border: none;
        background-color: #4e4e4e94;
        font-size: 16px;
        font-weight: 500;
        color: #f5efdb;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;

        @media (max-width: 1600px) {
            font-size: 14px;
            padding: 10px 20px;
        }
    }

    .btn_transparent {
        background-color: transparent;
        border: 1px solid rgba(78, 78, 78, 0.58);
    }


    .content_box {
        @media (max-width: 767px) {
            width: 100%;
            order: 1;
            margin-bottom: 100px;
        }

        .profile_content_header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 32px;

            @media (max-width: 1600px) {
                margin-bottom: 20px;
            }

            @media (max-width: 1199px) {
                flex-wrap: wrap;
            }

            @media (max-width: 767px) {
                display: none;
            }

            .profile_content_left {
                display: flex;
                align-items: center;
                gap: 10px;

                h2 {
                    font-size: 42px;
                    color: #fff;
                    font-weight: 500;
                    font-family: "MedievalSharp", cursive;

                    @media (max-width: 1600px) {
                        font-size: 28px;
                    }
                }
            }

            .profile_content_right {
                display: flex;
                align-items: center;
                gap: 10px;

                a {
                    color: #f5efdb;
                    text-decoration: none;
                    font-size: 24px;
                    font-weight: 500;
                    line-height: 27.12px;
                    font-family: "MedievalSharp", cursive;

                    @media (max-width: 1600px) {
                        font-size: 18px;
                    }
                }
            }
        }

        .profile_page_data {
            padding: 35px;
            border-radius: 20px;
            background-color: #191917;
            background-image: url("../../assets/model-frame.png");
            background-repeat: no-repeat;
            background-position-x: 10px;
            background-position-y: 10px;
            min-height: 450px;
            height: calc(100% - 80px);

            @media(max-width: 1600px) {
                height: calc(100% - 45px);
            }


            @media (max-width: 767px) {
                border-radius: 0;
                padding: 20px;
                padding-bottom: 0px;
                background-color: #191917;
                background-image: none;
            }

            &.edit_mode {
                height: calc(100vh - 130px);
                min-height: 450px;
                min-height: none;

                @media(max-width: 1600px) {
                    height: calc(100vh - 86px);
                }

                .page_data {
                    height: 100%;
                    min-height: 450px;
                    overflow-y: auto;
                }
            }

            .page_data {
                background-color: transparent;
                height: 100%;
                overflow-y: auto;


                .header_button {
                    display: flex;
                    margin-bottom: 25px;

                    .buttons {
                        display: flex;
                        justify-content: center;
                        color: #ffffff80;
                        border-bottom: 1px solid #ffffff80;
                        cursor: pointer;
                        padding: 10px 45px;
                        text-transform: uppercase;

                        @media (max-width: 1199px) {
                            min-width: auto;
                            width: 100%;
                            font-size: 12px;
                            padding: 10px 25px;
                        }

                        @media (max-width: 767px) {
                            width: 100%;
                            text-align: center;
                        }
                    }

                    .active {
                        color: #fff;
                        border-color: #fff;
                    }
                }

                .profile_page_header {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    border: none;
                    margin-block: 15px 30px;

                    @media (max-width: 767px) {
                        margin-bottom: 24px;
                    }

                    .pagination {
                        gap: 15px;
                        font-size: 32px;
                        color: #fff;
                        font-weight: 500;
                        font-family: "MedievalSharp", cursive;
                    }

                    .btn_gray {
                        @media (max-width: 767px) {
                            padding: 10px 24px;
                        }
                    }
                }

                .profile_page_content {
                    display: flex;
                    gap: 100px;

                    @media (max-width: 1199px) {
                        flex-direction: column;
                        gap: 16px;
                    }

                    @media (max-width: 767px) {
                        flex-direction: column;
                        gap: 24px;
                    }


                    .project_profile {
                        width: 20%;

                        @media (max-width: 1199px) {
                            width: 100%;
                        }

                        @media (max-width: 767px) {
                            width: 100%;
                        }


                        .profile_upload_profile {
                            width: 100%;
                            background-color: rgba(255, 255, 255, 0.0509803922);
                            // border-radius: 20px;
                            border-radius: 50%;
                            background-color: #ffffff0d;
                            position: relative;
                            width: 100%;
                            border-radius: 50%;
                            // border-radius: 12px;
                            overflow: hidden;
                            max-height: 200px;
                            max-width: 200px;

                            @media (max-width: 1199px) {
                                width: 50%;
                            }

                            @media (max-width: 767px) {
                                width: 50%;
                            }


                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                        }

                        .profile_upload_button {
                            width: 100%;

                            @media (max-width: 1199px) {
                                width: 50%;
                            }

                            @media (max-width: 767px) {
                                width: 50%;
                            }


                            .change_photo {
                                width: 100%;
                                height: 36px;
                                background: transparent;
                                color: #F5EFDB;
                                border: 1px solid #F5EFDB;
                                margin-block: 16px;
                                border-radius: 4px;
                                font-style: 16px;
                            }
                        }
                    }

                    .profile_description_data {
                        width: 70%;


                        @media (max-width: 1199px) {
                            width: 100%;
                        }


                        .profile_seprator_image {
                            margin-block: 13px;

                            img {
                                width: 100%;
                            }
                        }

                        .form_box {
                            @media (max-width: 767px) {
                                width: 100%;
                            }

                            @media (max-width: 1199px) {
                                width: 100%;
                            }

                            h3.profile_title {
                                color: #f5efdb;
                                font-family: "MedievalSharp", cursive;
                                font-size: 20px;
                                margin-bottom: 16px;
                                line-height: 22.6px;
                            }

                            input {
                                padding: 10px 14px;
                                border: 1px solid #ffffff80;
                                background-color: transparent;
                                width: 100%;
                                color: #f5efdb;
                                line-height: 19px;
                                font-size: 16px;
                                font-weight: 500;

                                @media (max-width: 1600px) {
                                    padding: 10px 15px;
                                    font-size: 14px;
                                }
                            }

                            label {
                                color: #f5efdb;
                                line-height: 19px;
                                font-size: 16px;
                                font-weight: 500;
                                display: block;

                                @media (max-width: 1600px) {
                                    font-size: 14px;
                                }
                            }

                            .form_group_data {
                                margin-bottom: 16px;
                                display: flex;
                                gap: 16px;
                                flex-wrap: wrap;

                                .profile_info {
                                    width: 48%;
                                    display: flex;
                                    flex-direction: column;
                                    gap: 8px;

                                    @media (max-width: 767px) {
                                        width: 45%;
                                    }

                                    .profile_head {
                                        color: #f5efdb93;
                                        font-size: 16px;

                                        @media (max-width: 1600px) {
                                            font-size: 14px;
                                        }
                                    }

                                    .profile_data {
                                        font-size: 20px;
                                        color: #F5EFDB;

                                        @media (max-width: 1600px) {
                                            font-size: 16px;
                                        }
                                    }
                                }
                            }

                            .profile_bio_data {
                                width: 100%;
                                display: flex;
                                flex-direction: column;
                                gap: 8px;

                                .profile_bio_head {
                                    color: #f5efdb93;
                                    font-size: 16px;

                                    @media (max-width: 1600px) {
                                        font-size: 14px;
                                    }
                                }

                                .profile_bio_data {
                                    font-size: 20px;
                                    color: #F5EFDB;

                                    @media (max-width: 1600px) {
                                        font-size: 16px;
                                    }
                                }
                            }

                            .contact_info_data {
                                height: 100%;
                                display: flex;

                                @media (max-width: 1199px) {
                                    gap: 20px;
                                }

                                @media (max-width: 767px) {
                                    flex-direction: column;
                                    gap: 0px;
                                }


                                .mail {
                                    width: 50%;
                                    display: flex;
                                    flex-direction: column;
                                    gap: 10px;

                                    @media (max-width: 767px) {
                                        width: 100%;
                                    }


                                    .mail_head {
                                        color: #f5efdb93;
                                        font-size: 16px;
                                    }

                                    .mail_data {
                                        color: #F5EFDB;
                                        font-size: 20px;
                                    }

                                    .mail_desc {
                                        color: #f5efdb93;
                                        font-size: 14px;
                                    }
                                }

                                .social_media_wrp {
                                    width: 50%;
                                    display: flex;
                                    align-items: end;

                                    @media (max-width: 767px) {
                                        width: 100%;
                                        margin-top: 10px;
                                    }


                                    .social_media {
                                        width: 100%;
                                        display: flex;
                                        gap: 10px;
                                        flex-direction: column;
                                        align-items: end;

                                        @media (max-width: 767px) {
                                            align-items: start;
                                            margin-top: 16px;
                                        }

                                        .social_media_title {
                                            color: #f5efdb;
                                            font-family: "MedievalSharp", cursive;
                                            font-size: 20px;
                                            margin-bottom: 6px;
                                            line-height: 22.6px;
                                            font-weight: bold;
                                            min-width: 250px;

                                            @media (max-width: 1199px) {
                                                min-width: auto;
                                                width: 100%;
                                            }
                                        }

                                        button {
                                            min-width: 250px;
                                            padding-block: 10px;

                                            @media (max-width: 1199px) {
                                                min-width: auto;
                                                width: 100%;
                                            }
                                        }
                                    }
                                }
                            }

                            .password_info_data {
                                .password_head {
                                    color: rgba(245, 239, 219, 0.5);
                                    font-size: 16px;
                                    margin-bottom: 5px;
                                }

                                .password_data {
                                    font-size: 20px;
                                    color: #F5EFDB;
                                    margin-bottom: 10px;
                                }

                                .password_desc {
                                    font-size: 14px;
                                    color: rgba(245, 239, 219, 0.5);

                                }
                            }
                        }
                    }

                    .profile_description_form {
                        width: 70%;

                        @media (max-width: 1199px) {
                            width: 100%;
                        }

                        @media (max-width: 767px) {
                            width: 100%;
                        }

                        .profile_seprator_image {
                            margin-block: 13px;

                            img {
                                width: 100%;
                            }
                        }

                        .form_box {
                            h3.profile_title {
                                color: #f5efdb;
                                font-family: "MedievalSharp", cursive;
                                font-size: 20px;
                                margin-bottom: 16px;
                                line-height: 22.6px;
                            }

                            input {
                                padding: 10px 14px;
                                border: 1px solid #ffffff80;
                                background-color: transparent;
                                width: 100%;
                                color: #f5efdb;
                                line-height: 19px;
                                font-size: 16px;
                                font-weight: 500;

                                @media (max-width: 1600px) {
                                    padding: 10px 15px;
                                    font-size: 14px;
                                }
                            }

                            label {
                                color: #f5efdb;
                                line-height: 19px;
                                font-size: 16px;
                                display: block;
                                font-family: MedievalSharp;
                                font-weight: 500;

                                @media (max-width: 1600px) {
                                    font-size: 14px;
                                }
                            }

                            .form_group {
                                display: flex;
                                flex-direction: column;
                                gap: 16px;

                                .form_group_row {
                                    display: flex;
                                    gap: 16px;

                                    @media (max-width: 767px) {
                                        flex-direction: column;
                                    }

                                    .profile_info {
                                        flex-basis: 50%;
                                        display: flex;
                                        flex-direction: column;
                                        gap: 8px;

                                        @media (max-width: 767px) {
                                            flex-basis: 100%;
                                        }

                                        .profile_head {
                                            color: #f5efdb93;
                                            font-size: 12px;
                                        }

                                        .profile_data {
                                            font-size: 16px;
                                            color: #F5EFDB;
                                        }

                                        .type_calendar {
                                            position: relative;

                                            label {
                                                height: 42px;
                                                display: flex;
                                                justify-content: space-between;
                                                border: 1px solid rgba(255, 255, 255, 0.582);
                                                padding: 10px 14px;
                                                font-family: "Inter", sans-serif;
                                                z-index: 1;
                                            }

                                            input[type=date] {
                                                border: none;
                                                opacity: 0;
                                                position: absolute;
                                                z-index: 2;
                                            }

                                            img {
                                                height: 20px;
                                            }
                                        }

                                        &.full_width {
                                            width: 100%;
                                            flex-basis: 100%;
                                        }

                                        .check_box {
                                            display: flex;
                                            align-items: end;

                                            .label {
                                                color: #f5efdb;
                                                line-height: 19px;
                                                font-size: 16px;
                                                display: block;
                                                font-family: MedievalSharp;
                                                font-weight: 500;
                                                margin-left: 5px;
                                                cursor: context-menu;

                                                @media (max-width: 1600px) {
                                                    font-size: 14px;
                                                }
                                            }

                                            .costum_checkbox_input {
                                                display: none;
                                            }

                                            .costum_checkbox_label {
                                                height: 20px !important;
                                                width: 20px !important;
                                                padding: 0.5px 5px;
                                                background-color: rgba(78, 78, 78, 0.2);
                                                border: 1px solid #fff;
                                            }

                                            .costum_checkbox_input:checked+.costum_checkbox_label {
                                                position: relative;

                                                &::before {
                                                    content: '';
                                                    display: block;
                                                    position: absolute;
                                                    top: -2px;
                                                    left: -1px;
                                                    height: 20px;
                                                    width: 20px;
                                                    background-image: url('../../assets/InputChecked.svg');
                                                    background-repeat: no-repeat;
                                                    background-size: cover;
                                                    z-index: 5;
                                                }
                                            }
                                        }

                                        .radio_box {
                                            display: flex;
                                            align-items: center;
                                            gap: 8px;
                                            margin-bottom: 8px;
                                            cursor: pointer;

                                            input[type="radio"] {
                                                display: none;
                                            }

                                            label {
                                                height: 20px;
                                                width: 20px;
                                                padding: 0.5px;
                                                background-color: rgba(78, 78, 78, 0.2);
                                                border: 1px solid #fff;
                                                border-radius: 50%;
                                                cursor: pointer;
                                            }

                                            input[type="radio"]:checked+label {
                                                position: relative;

                                                &::after {
                                                    content: '';
                                                    display: block;
                                                    position: absolute;
                                                    top: 50%;
                                                    left: 50%;
                                                    transform: translate(-50%, -50%);
                                                    height: 10px;
                                                    width: 10px;
                                                    background-color: #f5efdb;
                                                    border-radius: 50%;
                                                    z-index: 5;
                                                }
                                            }

                                            span {
                                                color: #f5efdb;
                                                font-size: 14px;
                                            }
                                        }

                                        .others_field {
                                            width: 50%;
                                        }

                                        .question_desc {
                                            color: #f5efdb93;
                                            font-size: 14px;
                                            margin-bottom: 10px;
                                        }
                                    }
                                }
                            }

                            .profile_bio {
                                width: 100%;
                                display: flex;
                                flex-direction: column;
                                gap: 8px;
                                margin-top: 16px;

                                .textArea {
                                    background-color: transparent;
                                    color: #f5efdb;
                                    padding: 10px 14px;
                                    outline: none;
                                    resize: none;
                                    font-family: "Inter", sans-serif;
                                    min-height: 55px;
                                    font-size: 16px;

                                    @media (max-width: 1600px) {
                                        font-size: 14px;
                                    }

                                    @media (max-width: 767px) {
                                        min-height: 70px;
                                    }
                                }
                            }

                            .contact_info {
                                height: 100%;
                                display: flex;

                                @media (max-width: 1199px) {
                                    gap: 20px;
                                }

                                @media (max-width: 767px) {
                                    flex-direction: column;
                                }

                                .mail {
                                    width: 50%;
                                    display: flex;
                                    flex-direction: column;
                                    gap: 10px;

                                    @media (max-width: 767px) {
                                        width: 100%;
                                    }

                                    .profile_head {
                                        color: #f5efdb;
                                        font-size: 14px;
                                    }

                                    .profile_data {
                                        font-size: 16px;
                                        color: #F5EFDB;
                                    }

                                    .profile_desc {
                                        color: #f5efdb;
                                        font-size: 14px;
                                    }
                                }

                                .social_media_wrp {
                                    width: 50%;
                                    display: flex;
                                    align-items: end;

                                    @media (max-width: 767px) {
                                        width: 100%;
                                        margin-top: 10px;
                                    }


                                    .social_media {
                                        width: 100%;
                                        display: flex;
                                        gap: 10px;
                                        flex-direction: column;
                                        align-items: end;

                                        @media (max-width: 767px) {
                                            align-items: start;
                                            margin-top: 16px;
                                        }

                                        .social_media_title {
                                            color: #f5efdb;
                                            font-family: "MedievalSharp", cursive;
                                            font-size: 20px;
                                            margin-bottom: 6px;
                                            line-height: 22.6px;
                                            font-weight: bold;
                                            min-width: 250px;

                                            @media (max-width: 1199px) {
                                                min-width: auto;
                                                width: 100%;
                                            }
                                        }

                                        button {
                                            min-width: 250px;
                                            padding-block: 10px;

                                            @media (max-width: 1199px) {
                                                min-width: auto;
                                                width: 100%;
                                            }
                                        }
                                    }
                                }

                                .password {
                                    width: 100%;
                                    display: flex;
                                    gap: 18px;

                                    @media (max-width: 767px) {
                                        flex-direction: column;
                                    }

                                    .password_input {
                                        flex-basis: 50%;
                                        display: flex;
                                        flex-direction: column;
                                        gap: 8px;

                                        @media (max-width: 767px) {
                                            width: 100%;
                                        }

                                        .type_password {
                                            height: 42px;
                                            display: flex;
                                            justify-content: space-between;
                                            border: 1px solid rgba(255, 255, 255, 0.582);
                                            padding: 10px 14px;
                                            padding-left: 0;

                                            input {
                                                border: none;
                                            }

                                            img {
                                                cursor: pointer;
                                                height: 20px;
                                            }
                                        }
                                    }
                                }
                            }

                            .password_info {
                                margin-bottom: 16px;
                            }

                            .submit_form {
                                display: flex;
                                gap: 16px;
                                padding: 16px;
                                border-top: 1px solid rgba(78, 78, 78, 0.58);

                                @media (max-width: 767px) {
                                    padding-inline: 0px;
                                }


                                button {
                                    width: 100%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}