.page_box {
    .ambassadors_content_header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 32px;

        @media (max-width: 1600px) {
            margin-bottom: 20px;
        }

        @media (max-width: 1199px) {
            flex-wrap: wrap;
        }

        @media (max-width: 767px) {
            display: none;
        }

        .ambassadors_content_left {
            display: flex;
            align-items: center;
            gap: 10px;

            h2 {
                font-size: 42px;
                color: #fff;
                font-weight: 500;
                font-family: "MedievalSharp", cursive;

                @media (max-width: 1600px) {
                    font-size: 28px;
                }
            }
        }

        .ambassadors_content_right {
            display: flex;
            align-items: center;
            gap: 10px;

            a {
                color: #f5efdb;
                text-decoration: none;
                font-size: 24px;
                font-weight: 500;
                line-height: 27.12px;
                font-family: "MedievalSharp", cursive;

                @media (max-width: 1600px) {
                    font-size: 18px;
                }
            }
        }
    }

    .ambassadors_page_data {
        padding: 35px;
        border-radius: 9px;
        background-color: #191917;
        background-image: url("../../../assets/model-frame.png");
        background-repeat: no-repeat;
        background-position-x: 10px;
        background-position-y: 10px;
        min-height: 450px;
        height: calc(100% - 80px);

        @media(max-width: 1600px) {
            height: calc(100% - 42px);
        }

        @media (max-width: 767px) {
            border-radius: 0;
            padding: 20px;
            padding-bottom: 0px;
            background-color: #191917;
            background-image: none;
        }

        .page_data {
            background-color: transparent;
            height: 100%;
            overflow-y: auto;

            .header_button {
                display: flex;
                margin-bottom: 25px;

                .buttons {
                    display: flex;
                    justify-content: center;
                    color: #ffffff80;
                    border-bottom: 1px solid #ffffff80;
                    cursor: pointer;
                    padding: 10px 45px;

                    @media (max-width: 1199px) {
                        min-width: auto;
                        width: 100%;
                        font-size: 12px;
                        padding: 10px 25px;
                    }

                    @media (max-width: 767px) {
                        width: 100%;
                        text-align: center;
                    }
                }

                .active {
                    color: #fff;
                    border-color: #fff;
                }
            }

            .ambassadors_content_box {
                height: calc(100% - 67px);
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                pointer-events: none;
                filter: blur(5px);

                .ambassadors_content_title {
                    width: 100%;
                    font-size: 30px;
                    color: #F5EFDB;
                    font-weight: 500;
                    font-family: "MedievalSharp", cursive;
                    text-align: center;
                    margin-bottom: 14px;
                    user-select: none;

                    @media (max-width: 767px) {
                        font-size: 24px;
                        margin-bottom: 8px;
                    }
                }

                .ambassadors_content_btn {
                    padding: 16px 24px;
                    margin-inline: auto;
                }
            }
        }
    }
}

.content_box {
    .ambassador_content_Wraper {
        .user_ambassador_page_data {
            .page_data {
                .ambassador_card_box {
                    .ambassador_cards {
                        .card_wrap {
                            padding-inline: 12px;
                            flex-basis: calc(100% / 4);
                            max-width: calc(100% / 4);
                            pointer-events: none;

                            @media (max-width: 1300px) {
                                flex-basis: calc(100% / 3);
                                max-width: calc(100% / 3);
                            }

                            @media (max-width: 1000px) {
                                padding-inline: 8px;
                                flex-basis: calc(100% / 2);
                                max-width: calc(100% / 2);
                            }

                            @media (max-width: 500px) {
                                flex-basis: calc(100% / 1);
                                max-width: calc(100% / 1);
                            }

                            .ambassador_card {
                                filter: blur(10px);
                                transition: filter 0.3s ease;

                                &:hover {
                                    filter: blur(10px);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}