.create_model_bg {
    display: none;
    z-index: 99;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;

    &.active {
        display: block;
    }

    .create_popup {
        background-color: #434242cc;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        width: 100%;
        height: 100%;

        @media (max-width: 767px) {
            width: 105%;
            height: 106%;
        }

        .create_model_box {
            width: 528px;
            background-color: #191917;
            background-image: url("../../../assets/model-frame.png");
            background-size: contain;
            background-repeat: no-repeat;
            background-position-x: 10px;
            background-position-y: 10px;

            @media (max-width: 1600px) {
                width: 428px;
            }

            @media (max-width: 767px) {
                width: 85%;
                max-width: 450px;
            }

            .create_model_body {
                padding: 32px 18px 40px 18px;
                position: relative;

                @media (max-width: 1600px) {
                    padding-bottom: 30px;
                }

                @media (max-width: 767px) {
                    padding-bottom: 25px;
                }

                .create_model_header {
                    display: flex;
                    align-items: center;
                    margin-bottom: 34px;
                    margin-left: 10px;

                    @media (max-width: 1600px) {
                        margin-bottom: 28px;
                    }

                    @media (max-width: 767px) {
                        margin-bottom: 16px;
                    }

                    h3 {
                        color: #f5efdb;
                        text-decoration: none;
                        font-size: 32px;
                        font-weight: 500;
                        line-height: 36px;
                        font-family: "MedievalSharp", cursive;

                        @media (max-width: 1600px) {
                            font-size: 24px;
                        }
                    }

                    button.close {
                        background-color: transparent;
                        border: gainsboro;
                        position: absolute;
                        top: 25px;
                        right: 30px;

                        img {
                            width: 30px;

                            @media (max-width: 1600px) {
                                width: 24px;
                            }
                        }
                    }
                }

                .form_group {
                    margin: 8px 26px;
                    margin-left: 10px;

                    label {
                        color: #f5efdb;
                        line-height: 19.36px;
                        font-size: 16px;
                        font-weight: 500;
                        margin-bottom: 10px;
                        display: block;

                        @media (max-width: 767px) {
                            font-size: 14px;
                        }
                    }

                    input {
                        padding: 16px 24px;
                        border: 1px solid #ffffff80;
                        background-color: transparent;
                        width: 100%;
                        color: #f5efdb;
                        line-height: 19.36px;
                        font-size: 16px;
                        font-weight: 500;

                        @media (max-width: 1600px) {
                            padding: 10px 15px;
                            font-size: 14px;
                        }
                    }
                }
            }

            .create_model_footer {
                padding: 24px 20px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                background-color: #111111;

                @media (max-width: 1600px) {
                    padding: 20px 20px;
                }

                @media (max-width: 767px) {
                    gap: 20px;
                }

                .refuse_btn {
                    background-color: rgba(255, 158, 152, 0.1490196078);
                    border: none;
                    padding: 14px 45px;
                    color: #ff9e98;
                    font-size: 16px;

                    @media (max-width: 1600px) {
                        font-size: 14px;
                    }

                    @media (max-width: 767px) {
                        width: 142px;
                        padding-inline: 0;
                    }
                }

                .next_btn {
                    border: none;
                    background-color: rgba(78, 78, 78, 0.5803921569);
                    font-weight: 500;
                    color: #f5efdb;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 5px;
                    border: none;
                    padding: 14px 30px;
                    font-size: 16px;

                    @media (max-width: 1600px) {
                        font-size: 14px;
                    }

                    @media (max-width: 767px) {
                        width: 142px;
                        padding-inline: 0;
                    }
                }
            }
        }
    }
}