.page_box {
    display: flex;
    gap: 40px;
    margin-bottom: 15px;

    @media (max-width: 767px) {
        margin-bottom: 0px;
        background-color: #191917;
    }

    @media (max-width: 1199px) {
        gap: 20px;
    }

    .btn_gray {
        padding: 16px 24px;
        border: none;
        background-color: #4e4e4e94;
        font-size: 16px;
        font-weight: 500;
        color: #f5efdb;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;

        @media (max-width: 1600px) {
            font-size: 14px;
            padding: 10px 20px;
        }
    }

    .btn_delete {
        background-color: #ff9e9826;
        border: none;
        padding: 13px;

        @media (max-width: 1600px) {
            padding: 10px;
        }

        img {
            @media (max-width: 1600px) {
                width: 17px;
            }
        }
    }

    .content_box {
        width: 80%;

        @media (max-width: 1199px) {
            width: 70%;
        }

        @media (max-width: 767px) {
            width: 100%;
        }

        .project_content_Wraper {
            height: 100%;

            .project_content_header {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 32px;

                @media (max-width: 1600px) {
                    margin-bottom: 20px;
                }

                @media (max-width: 1199px) {
                    flex-wrap: wrap;
                }

                @media (max-width: 767px) {
                    margin-bottom: 0px;
                }


                .project_content_left {
                    display: flex;
                    align-items: center;
                    gap: 10px;

                    @media (max-width: 767px) {
                        width: 100%;
                        padding: 15px 25px 0 25px;
                        justify-content: space-between;
                    }

                    h2 {
                        font-size: 28px;
                        color: #fff;
                        font-weight: 500;
                        font-family: "MedievalSharp", cursive;
                        font-size: 42px;

                        @media (max-width: 1600px) {
                            font-size: 28px;
                        }
                    }

                    .search_box {
                        position: relative;
                        min-width: 450px;

                        @media (max-width: 1199px) {
                            min-width: 230px;
                        }

                        @media (max-width: 374px) {
                            display: none;
                        }

                        input {
                            background-color: #191917;
                            padding: 10px 24px 10px 52px;
                            border: 1px solid #3c3c3c;
                            border-radius: 9px;
                            width: 100%;
                            font-size: 16px;
                            color: #f5efdb;

                            @media (max-width: 767px) {
                                display: none;
                            }

                            &::placeholder {
                                color: #f5efdb;
                                font-size: 18px;
                                opacity: 0.5;

                                @media (max-width: 1199px) {
                                    font-size: 14px;
                                }
                            }
                        }

                        .search_icon {
                            position: absolute;
                            left: 24px;
                            top: 50%;
                            transform: translateY(-50%);

                            @media (max-width: 1199px) {
                                left: 15px;
                            }

                            @media (max-width: 767px) {
                                left: auto;
                                right: 8px;
                            }
                        }
                    }
                }

                .project_content_right {
                    display: flex;
                    align-items: center;

                    @media (max-width: 767px) {
                        display: none;
                    }

                    a {
                        color: #f5efdb;
                        text-decoration: none;
                        font-size: 24px;
                        font-weight: 500;
                        line-height: 27.12px;
                        font-family: "MedievalSharp", cursive;

                        @media (max-width: 1600px) {
                            font-size: 18px;
                        }
                    }
                }
            }

            .project_content_body {
                overflow-y: auto;
                min-height: 520px;
                height: calc(100% - 80px);

                @media (max-width: 1600px) {
                    height: calc(100% - 15px);
                }

                .featured_project_page_data {
                    border-radius: 20px;
                    background-color: #191917;
                    margin-bottom: 32px;

                    @media (max-width: 767px) {
                        border-radius: 0;
                        padding: 0;
                    }

                    .featured_projects_card_box {
                        background-image: url('../../assets/model-frame.png');
                        background-repeat: no-repeat;
                        background-position: 8px 17px;
                        padding: 36px 0px 8px 0px;
                        display: block;

                        @media (max-width: 767px) {
                            padding-bottom: 0;
                            background-image: none;
                        }

                        .featured_projects_card_header {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            padding-inline: 30px;
                            margin-bottom: 4px;

                            .featured_projects_card_header_left {
                                color: #f5efdb;
                                font-size: 24px;
                                font-family: "MedievalSharp", cursive;
                            }

                            .featured_projects_card_header_right {
                                .btn_gray {
                                    font-family: "MedievalSharp", cursive;
                                }
                            }
                        }

                        .featured_projects_card_body_main {
                            overflow-x: scroll;
                            padding-block: 20px;

                            &::-webkit-scrollbar {
                                width: 4px;
                            }

                            &::-webkit-scrollbar-track {
                                background: transparent;
                            }

                            &::-webkit-scrollbar-thumb {
                                background: transparent;
                            }

                            .featured_projects_card_body {
                                height: 100%;
                                display: flex;
                                flex-wrap: wrap;
                                padding-inline: 30px;
                                gap: 32px 16px;

                                .project_card {
                                    width: 23.7%;

                                    @media (min-width:1200px) and (max-width:1350px) {
                                        width: 32%;
                                    }

                                    @media (min-width:600px) and (max-width:1200px) {
                                        width: 47%;
                                    }

                                    @media (max-width:600px) {
                                        width: 100%;
                                    }
                                }
                            }
                        }
                    }
                }

                .all_project_page_data {
                    border-radius: 20px;
                    background-color: #191917;

                    @media (max-width: 767px) {
                        border-radius: 0;
                        padding: 0;
                    }

                    .all_projects_card_box {
                        background-position: 8px 17px;
                        padding: 36px 0 28px 0;

                        @media (max-width: 767px) {
                            padding-top: 0;
                        }

                        .all_projects_card_header {
                            display: flex;
                            flex-direction: column;
                            gap: 16px;
                            padding: 0 30px 12px 30px;
                            border-bottom: 1px solid rgba(245, 239, 219, 0.15);
                            margin-bottom: 12px;

                            .all_projects_card_header_top {
                                color: #f5efdb;
                                font-size: 24px;
                                font-family: "MedievalSharp", cursive;
                            }

                            .all_projects_card_header_bottom {
                                display: flex;
                                justify-content: space-between;
                                align-items: center;

                                @media (max-width:1200px) {
                                    flex-direction: column;
                                    align-items: start;
                                    gap: 15px;
                                }

                                .btns {
                                    display: flex;
                                    background-color: #242623;
                                    padding: 4px;

                                    .btn {
                                        padding: 10px;
                                        display: flex;
                                        align-items: center;
                                        justify-content: center;
                                        background-color: transparent;
                                        border: none;
                                        color: rgba(230, 234, 238, 0.5);
                                        font-family: MedievalSharp;

                                        @media (max-width:1200px) {
                                            padding: 10px 5px;
                                        }

                                        &.active {
                                            background-color: rgba(78, 78, 78, 0.58);
                                            color: #F5EFDB;
                                        }
                                    }
                                }

                                .selects {
                                    min-width: 550px;
                                    display: flex;
                                    gap: 10px;

                                    @media (max-width:1200px) {
                                        min-width: 100%;
                                    }

                                    @media (max-width:450px) {
                                        flex-direction: column;
                                        gap: 15px;
                                        align-items: start;
                                        min-width: 100%;
                                    }
                                }
                            }
                        }

                        .all_projects_card_body {
                            height: 100%;
                            display: flex;
                            flex-wrap: wrap;
                            gap: 32px 16px;
                            padding-inline: 30px;

                            .project_card {
                                width: 23.7%;

                                @media (min-width:1200px) and (max-width:1350px) {
                                    width: 32%;
                                }

                                @media (min-width:600px) and (max-width:1200px) {
                                    width: 48%;
                                }

                                @media (max-width:600px) {
                                    width: 100%;
                                }
                            }
                        }
                    }

                    .project_page_pagination {
                        padding: 0 20px 18px 0;
                        display: flex;
                        justify-content: end;
                        align-items: center;
                        margin-top: 25px;

                        .project_page_pagination_content {
                            display: flex;
                            justify-content: space-between;
                            color: #BDBDBD;

                            .project_page_pagination_content_text {
                                font-size: 14px;
                                color: #fff;
                                display: flex;
                                gap: 8px;

                                .pagination_head {
                                    color: #BDBDBD;
                                }

                                .pagination_dropdown {
                                    select {
                                        border: none;
                                        background: transparent;
                                        color: #fff;
                                        cursor: pointer;
                                        font-family: "Inter", sans-serif;
                                        font-size: 14px;
                                        outline: 0px;

                                        option {
                                            background-color: #242623;
                                        }
                                    }
                                }

                                .project_page_pagination_content_arrows {
                                    display: flex;
                                    gap: 12px;

                                    .table_pagination_content_button {
                                        background: transparent;
                                        border: none;
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;

                                        svg {
                                            path {
                                                height: 20px;
                                                width: 20px;
                                            }
                                        }

                                        &:focus {
                                            svg {
                                                path {
                                                    fill: #fff;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}