.edit_engel_model_bg {
    display: none;
    z-index: 99;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;

    &.active {
        display: block;
    }

    .edit_engel_popup {
        background-color: var(--primary-gray-op80);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        width: 100%;
        height: 100%;

        @media (max-width: 767px) {
            width: 105%;
            height: 106%;
        }

        .edit_engel_model_box {
            width: 488px;
            background-color: var(--primary-background);
            background-image: url("../../../assets/model-frame.png");
            background-size: contain;
            background-repeat: no-repeat;
            background-position-x: 10px;
            background-position-y: 10px;
            position: relative;

            @media (max-width: 1600px) {
                width: 460px;
            }

            @media (max-width: 767px) {
                width: 85%;
                max-width: 500px;
            }

            .edit_engel_model_header {
                display: flex;
                align-items: center;
                margin-bottom: 34px;
                margin-top: 10px;

                @media (max-width: 1600px) {
                    margin-bottom: 24px;
                }

                @media (max-width: 767px) {
                    margin-bottom: 16px;
                }

                h3 {
                    color: var(--primary-text);
                    text-decoration: none;
                    font-size: 32px;
                    font-weight: 500;
                    line-height: 36px;
                    font-family: "MedievalSharp", cursive;

                    @media (max-width: 767px) {
                        font-size: 24px;
                    }

                }

                button.close {
                    background-color: transparent;
                    border: gainsboro;
                    position: absolute;
                    top: 25px;
                    right: 30px;

                    img {
                        width: 30px;

                        @media (max-width: 1600px) {
                            width: 24px;
                        }
                    }
                }
            }

            .edit_engel_model_body_container {
                padding: 60px 18px 15px 25px;


                @media (max-width: 767px) {
                    padding-right: 8px;
                }

                .edit_engel_model_body {
                    max-height: 851px;
                    overflow-y: scroll;
                    padding-inline: 10px;

                    @media (max-width: 1600px) {
                        padding-bottom: 30px;
                        max-height: 650px;
                    }

                    @media (max-width: 767px) {
                        padding-bottom: 20px;
                        padding-inline: 5px;
                    }


                    // Height
                    @media (max-height: 850px) {
                        padding-bottom: 30px;
                        max-height: 550px;
                    }

                    @media (max-height: 750px) {
                        padding-bottom: 30px;
                        max-height: 500px;
                    }

                    @media (max-height: 650px) {
                        padding-bottom: 30px;
                        max-height: 450px;
                    }


                    &::-webkit-scrollbar-thumb {
                        background:var(--scrollbar-thumb);
                    }

                    .edit_engel_model_data {
                        padding-right: 7px;
                        font-family: "MedievalSharp", cursive;
                        color: var(--primary-text);
                        overflow: hidden;


                        .image {
                            height: 195px;
                            overflow: hidden;
                            margin-bottom: 20px;
                            border-radius: 12px;

                            @media (max-width: 767px) {
                                margin-bottom: 32px;
                            }

                            img {
                                height: 200px;
                                width: 100%;
                                object-fit: cover;
                            }
                        }

                        .page {
                            display: none;

                            .angel_model_data_head {
                                display: flex;
                                gap: 12px;
                                margin-bottom: 20px;

                                @media (max-width: 767px) {
                                    margin-bottom: 16px;
                                }

                                .title {
                                    font-size: 22px;
                                }
                            }

                            .angel_model_data_body {

                                .title {
                                    font-size: 16px;
                                    margin-bottom: 14px;
                                }

                                .angels_container {
                                    display: flex;
                                    text-align: center;
                                    gap: 16px;
                                    flex-wrap: wrap;

                                    @media (max-width: 767px) {
                                        gap: 8px;
                                    }

                                    .angel_tab {
                                        .checkbox_input {
                                            display: none;
                                        }

                                        .checkbox_label {
                                            display: flex;
                                            text-align: center;
                                            gap: 12px;
                                            padding: 6px 10px;
                                            border: 1px solid rgba(255, 255, 255, 0.2);
                                            color: var( --primary-white-op40);
                                            font-family: "Inter", sans-serif;
                                            border-radius: 8px;

                                            @media (max-width: 767px) {
                                                padding: 5px 8px;
                                                gap: 5px;
                                            }

                                            .checkbox_label_text {
                                                display: flex;
                                                align-items: center;
                                                -webkit-user-select: none;
                                                -ms-user-select: none;
                                                user-select: none;
                                                gap: 4px;
                                                cursor: pointer;

                                                svg {
                                                    height: 18px;
                                                    width: 18px;
                                                    margin-bottom: 2px;

                                                    path {
                                                        stroke: var( --primary-white-op40);
                                                    }
                                                }
                                            }

                                            .angel_add,
                                            .angel_remove {
                                                background-color: transparent;
                                                justify-content: center;
                                                align-items: center;
                                                border: none;
                                                height: 20px;
                                                width: 20px;

                                                svg {
                                                    height: 100%;
                                                    width: 100%;

                                                    path {
                                                        stroke: var( --primary-white-op40);
                                                    }
                                                }
                                            }

                                            .angel_remove {
                                                display: none;
                                            }
                                        }


                                        .checkbox_input:checked+.checkbox_label {
                                            background-color: var(--primary-white-op10);

                                            .checkbox_label_text {
                                                color: white;
                                            }

                                            .angel_add {
                                                display: none;
                                            }

                                            .angel_remove {
                                                display: flex;
                                            }

                                            svg {
                                                path {
                                                    stroke: white;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        .active {
                            display: block;
                        }
                    }

                }
            }

            .edit_engel_model_footer {
                padding: 0 16px 20px 16px;
                background-color: var(--primary-background);
                display: flex;
                align-items: center;
                justify-content: space-between;

                @media (max-width: 767px) {
                    padding-bottom: 15px;
                    gap: 5px;
                }

                .back_btn {
                    background-color: var(--primary-red-bg);
                    border: none;
                    padding: 14px 55px 14px 55px;
                    color: var(--primary-red);
                    font-size: 16px;

                    @media (max-width: 1600px) {
                        font-size: 14px;
                    }

                    @media (max-width: 767px) {
                        padding-inline: 37px;
                    }
                }

                .pagination {
                    display: flex;
                    gap: 4px;
                    color: white;
                    font-size: 14px;
                    font-family: "Inter", sans-serif;
                }

                .cancel_btn {
                    border: none;
                    background-color: var(--btn-gray-bg);
                    font-weight: 500;
                    color: var(--primary-text);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 5px;
                    border: none;
                    padding: 14px 33px;
                    font-size: 16px;

                    @media (max-width: 1600px) {
                        font-size: 14px;
                    }

                    @media (max-width: 767px) {
                        padding-inline: 15px;
                    }
                }
            }
        }
    }
}