#root {
    min-height: 100vh;
    --primary-black: #000;
    --primary-white: #fff;
    --primary-white-op72: #ffffff80;
    --primary-white-op60: #ffffff99;
    --primary-white-op40: #ffffff52;
    --primary-white-op10: #ffffff1a;

    --primary-yellow: #FFDF76;
    --primary-orange: #ffd1a6;

    --primary-text: #f5efdb;
    --primary-text-op80: #f5efdbcc;
    --primary-text-op50: #f5efdb80;
    --primary-background: #191917;

    --primary-gray: #4F4F4F;
    --primary-gray-op80: #4e4e4ecc;
    --primary-gray-op20: #4e4e4e33;

    --btn-gray-bg: #4e4e4e94;
    --border-color: #3c3c3c;
    --card-background: #242623;
    --card-shadow: #ff8a1c59;
    --disable-gray: #242623;

    --popup-footer: #111111;
    --scrollbar-thumb: #4e4e4e80;

    --primary-red: #ff9e98;
    --primary-red-bg: #ff9e9826;
    --primary-green: #3EAA2C;
    --primary-green-bg: #3EAA2C1A;
    --primary-pending: #C6A844;
    --primary-pending-bg: #C6A8441a;

    --gradient-purple: #622BFD;
    --gradient-pink: #DA4370;
    --gradient-light-yellow: #DAB943;
    --gradient-dark-yellow: #E58A02;
}

html {
    scroll-behavior: smooth;
}

.no-scroll {
    overflow: hidden !important;
    padding-right: var(--scrollbar-width);
}

.Toastify__toast-container {
    @media (max-width: 480px) {
        max-width: 90vw !important;
        left: 5% !important;
        margin-bottom: 0.2rem !important;
    }

    .Toastify__toast {
        background-color: var(--card-background) !important;

        .Toastify__toast-body {
            font-family: "MedievalSharp", cursive;
            color: var(--primary-white) !important;
        }

        .Toastify__close-button {
            color: var(--primary-white) !important;
        }
    }
}

.mobile_search {
    margin-top: 10px;
    padding-inline: 20px;
    width: 100%;
    position: relative;
    display: none;
    min-width: 450px;

    @media (max-width: 1199px) {
        min-width: 230px;
    }

    @media (max-width: 767px) {
        display: block;
    }

    input {
        background-color: var(--primary-background);
        padding: 10px 24px 10px 42px;
        border: 1px solid var(--border-color);
        border-radius: 9px;
        width: 100%;
        font-size: 16px;
        color: var(--primary-text);

        &::placeholder {
            color: var(--primary-text);
            font-size: 18px;
            opacity: 0.5;

            @media (max-width: 1199px) {
                font-size: 14px;
            }
        }
    }

    .icon {
        position: absolute;
        left: 34px;
        top: 50%;
        transform: translateY(-50%);
    }
}



::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: transparent;
}