.page_box {
    display: flex;
    gap: 40px;
    margin-bottom: 15px;

    @media (max-width: 767px) {
        margin-bottom: 0px;
    }

    @media (max-width: 1199px) {
        gap: 20px;
    }

    .btn_gray {
        padding: 16px 24px;
        border: none;
        background-color: #4e4e4e94;
        font-size: 16px;
        font-weight: 500;
        color: #f5efdb;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;

        @media (max-width: 1600px) {
            font-size: 14px;
            padding-block: 12px;
        }
    }

    .btn_delete {
        background-color: #ff9e9826;
        border: none;
        padding: 13px;

        @media (max-width: 1600px) {
            padding: 10px;
        }

        img {
            @media (max-width: 1600px) {
                width: 17px;
            }
        }
    }

    .synergies_content_header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 32px;

        @media (max-width: 1600px) {
            margin-bottom: 20px;
        }

        @media (max-width: 1199px) {
            flex-wrap: wrap;
        }

        @media (max-width: 767px) {
            margin-bottom: 0px;
            background-color: #191917;
        }

        .synergies_content_left {
            display: flex;
            align-items: center;
            gap: 10px;

            @media (max-width: 767px) {
                padding-inline: 24px;
                padding-top: 15px;
            }

            h2 {
                color: #fff;
                font-weight: 500;
                font-family: "MedievalSharp", cursive;
                font-size: 42px;

                @media (max-width: 1600px) {
                    font-size: 28px;
                }
            }

            .search_box {
                position: relative;
                min-width: 450px;

                @media (max-width: 1199px) {
                    min-width: 230px;
                }

                @media (max-width: 767px) {
                    display: none;
                }

                input {
                    background-color: #191917;
                    padding: 10px 24px 10px 52px;
                    border: 1px solid #3c3c3c;
                    border-radius: 9px;
                    width: 100%;
                    font-size: 16px;
                    color: #f5efdb;

                    &::placeholder {
                        color: #f5efdb;
                        font-size: 18px;
                        opacity: 0.5;

                        @media (max-width: 1199px) {
                            font-size: 14px;
                        }
                    }
                }

                .search_icon {
                    position: absolute;
                    left: 24px;
                    top: 50%;
                    transform: translateY(-50%);

                    @media (max-width: 1199px) {
                        left: 15px;
                    }
                }
            }
        }

        .synergies_content_right {
            display: flex;
            align-items: center;
            gap: 10px;

            @media (max-width: 767px) {
                display: none;
            }

            a {
                color: #f5efdb;
                text-decoration: none;
                font-size: 24px;
                font-weight: 500;
                line-height: 27.12px;
                font-family: "MedievalSharp", cursive;

                @media (max-width: 1600px) {
                    font-size: 18px;
                }
            }
        }
    }

    .synergies_page_data {
        border-radius: 20px;
        background-color: #191917;
        // background-image: url("../../assets/model-frame.png");
        // background-repeat: no-repeat;
        // background-position-x: 10px;
        // background-position-y: 10px;
        padding: 20px 0px;
        min-height: 450px;
        height: calc(100% - 80px);

        @media(max-width: 1600px) {
            height: calc(100% - 50px);
        }

        @media (max-width: 767px) {
            border-radius: 0;
            padding-block: 20px 0px;
        }

        .page_data {
            height: 100%;
            background-color: transparent;
            display: flex;
            flex-direction: column;
            overflow-y: auto;

            .synergies_page_header {
                padding: 0px 26px 21px 26px;
                border-bottom: 1px solid #f5efdb26;

                @media (max-width: 767px) {
                    padding: 24px 24px;
                }

                .synergy_page_header_top {
                    display: flex;
                    align-items: center;
                    width: 100%;
                    justify-content: space-between;

                    @media (max-width: 767px) {
                        padding: 0px;
                    }

                    .synergies_toggleWrap {
                        display: flex;
                        align-items: center;
                        font-size: 24px;
                        color: #fff;
                        background-color: #242623;
                        font-weight: 500;
                        font-family: "MedievalSharp", cursive;

                        @media (max-width: 767px) {
                            gap: 4px;
                            display: none;
                        }

                        .synergies_toggle_btn {
                            padding: 10px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            background-color: transparent;
                            border: none;

                            &.active {
                                background-color: rgba(78, 78, 78, 0.58);
                                color: #F5EFDB;

                                svg {
                                    path {
                                        stroke: #F5EFDB;
                                    }
                                }
                            }

                            svg {
                                height: 24px;
                                width: 24px;
                            }
                        }
                    }
                }

                .synergy_page_filter {
                    display: none;
                    margin-top: 20px;

                    @media (max-width: 767px) {
                        flex-direction: column;
                    }

                    &.active {
                        display: flex;
                        align-items: center;
                        gap: 16px;

                        @media (max-width: 767px) {
                            flex-direction: column;
                        }
                    }

                    .angels {
                        flex-grow: 1;
                        max-width: 280px;

                        @media (max-width: 767px) {
                            max-width: none;
                            width: 100%;
                            flex-grow: none;
                        }
                    }

                    .sort {
                        flex-grow: 1;
                        max-width: 280px;

                        @media (max-width: 767px) {
                            max-width: none;
                            width: 100%;
                            flex-grow: none;
                        }
                    }
                }

                .synergies_page_header_button {
                    display: flex;
                    gap: 10px;

                    @media (max-width: 767px) {
                        width: 100%;
                        justify-content: space-between;
                    }

                    .btn_filter {
                        img {
                            height: 22px;
                            width: 22px;
                        }
                    }

                    .btn_gray.active {
                        background-color: #A18527;
                        color: white;
                    }

                    .btn_gray:disabled {
                        cursor: no-drop;
                        background-color: rgba(78, 78, 78, 0.16);
                        color: rgba(255, 255, 255, 0.4);
                    }
                }
            }

            .synergies_page_body {

                .synergy_page_table_handler {
                    overflow: hidden;
                    display: flex;
                    align-items: center;
                    gap: 18px;
                    padding: 0px 24px;
                    height: 0;
                    background-color: #242623;
                    transition: height 0.4s ease-out;

                    &.active {
                        padding: 12px 24px;
                        height: 68px;
                        margin-bottom: 20px;
                        border-bottom: 1px solid rgba(245, 239, 219, 0.15);
                        transition: height padding margin-bottom 0.4s ease-in;
                    }

                    @media (max-width: 1098px) {
                        flex-grow: 1;
                    }

                    @media (max-width: 1125px) {
                        justify-content: space-between;
                    }

                    .selected_count {
                        min-width: 110px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        gap: 5px;
                        color: #F5EFDB;
                        font-family: "Inter", sans-serif;

                        .costum_checkbox {
                            display: flex;
                            align-items: end;

                            .costum_checkbox_input {
                                display: none;
                            }

                            .costum_checkbox_label {
                                height: 24px !important;
                                width: 24px !important;
                                padding: 0.5px 10px;
                                background-color: rgba(78, 78, 78, 0.2);
                                border: 1px solid #fff;
                            }

                            .costum_checkbox_input:checked+.costum_checkbox_label {
                                position: relative;

                                &::after {
                                    content: '';
                                    display: block;
                                    position: absolute;
                                    top: -2px;
                                    left: -1px;
                                    height: 24px;
                                    width: 24px;
                                    background-image: url('../../assets/InputChecked.svg');
                                    background-repeat: no-repeat;
                                    background-size: cover;
                                    z-index: 5;
                                }
                            }
                        }
                    }

                    .table_actions {
                        display: flex;
                        justify-content: start;
                        align-items: center;
                        gap: 10px;

                        @media (max-width: 1125px) {
                            display: none;
                        }

                        button {
                            height: 42px;
                            box-sizing: border-box;
                            font-size: 16px;

                            @media (max-width: 1600px) {
                                font-size: 14px;
                            }
                        }

                        .btn_cancle {
                            img {
                                height: 22px;
                                width: 22px;
                            }
                        }

                        .btn_featured {
                            border: 1px solid;
                            border-image-source: linear-gradient(157.79deg, rgba(157, 140, 83, 0.6) 14.5%, rgba(186, 168, 108, 0.350334) 32.43%);
                            border-image-slice: 1;

                            svg {
                                height: 20px;
                                width: 24px;
                            }


                        }

                        .btn_create {
                            svg {
                                height: 20px;
                                width: 20px;
                            }
                        }

                        .btn_delete {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            border: none;
                            gap: 5px;
                            font-weight: 500;
                            color: #FF9E98;

                            img {
                                @media (max-width: 1600px) {
                                    width: 19px;
                                }
                            }

                            @media (max-width: 1098px) and (min-width: 767px) {
                                padding-inline: 5px;
                            }
                        }
                    }

                    .table_actions_button {
                        display: none;
                        gap: 16px;

                        @media (max-width: 1125px) {
                            display: flex;
                        }

                        .button_delete {
                            padding: 8px 10px;
                            background-color: #ff9e9826;
                            border: none;
                        }

                        .menu_button {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            padding: 8px 10px;
                            border: none;
                            background-color: rgba(78, 78, 78, 0.58);
                            ;
                        }

                        .buttom_menubar {
                            display: none;
                        }

                        .active_menu {
                            display: block;
                        }
                    }
                }

                .synergies_page_table {
                    margin: 20px 24px;
                    padding-bottom: 20px;

                    @media (max-width: 1098px) {
                        display: none;
                    }

                    table,
                    tr,
                    td {
                        border-collapse: collapse;
                    }

                    table {
                        width: 100%;

                        thead {
                            text-align: left;

                            th {
                                font-family: MedievalSharp;
                                font-size: 18px;
                                color: #F5EFDB;
                                font-weight: 400;
                                padding: 4px 12px;
                                border-bottom: 1px solid rgba(255, 239, 219, 0.15);

                                &.center {
                                    text-align: center;
                                }
                            }
                        }

                        tbody {
                            color: rgba(245, 239, 219, 0.6);
                            font-size: 14px;
                            font-family: "Inter", sans-serif;

                            td {
                                opacity: 1;
                                padding: 10px 12px;
                                border-bottom: 1px solid rgba(245, 239, 219, 0.15);

                                @media (max-width:1199px) {
                                    padding: 0px;
                                }

                                .table_name {
                                    display: flex;
                                    align-items: center;
                                    font-size: 16px;
                                    gap: 5px;

                                    .costum_checkbox {
                                        display: flex;
                                        align-items: end;

                                        .costum_checkbox_input {
                                            display: none;
                                        }

                                        .costum_checkbox_label {
                                            height: 24px !important;
                                            width: 24px !important;
                                            padding: 0.5px 10px;
                                            background-color: rgba(78, 78, 78, 0.2);
                                            border: 1px solid #fff;
                                        }

                                        .costum_checkbox_input:checked+.costum_checkbox_label {
                                            position: relative;

                                            &::after {
                                                content: '';
                                                display: block;
                                                position: absolute;
                                                top: -2px;
                                                left: -1px;
                                                height: 24px;
                                                width: 24px;
                                                background-image: url('../../assets/InputChecked.svg');
                                                background-repeat: no-repeat;
                                                background-size: cover;
                                                z-index: 5;
                                            }
                                        }
                                    }
                                }

                                .actor {
                                    display: flex;
                                    gap: 8px;
                                    align-items: center;
                                    color: rgba(255, 209, 166, 0.8);

                                    img {
                                        height: 24px;
                                        width: 24px;
                                        border-radius: 30px;
                                    }
                                }

                                .table_image {
                                    border-radius: 11px;
                                    overflow: hidden;
                                    height: 5vw;
                                    width: 5vw;

                                    img {
                                        height: 100%;
                                        width: 100%;
                                        object-fit: cover;
                                    }
                                }

                                .price {
                                    display: flex;
                                    align-items: center;
                                    gap: 4px;
                                    color: #FFDF76;
                                    font-family: "MedievalSharp";
                                }

                                .table_angles {
                                    display: flex;
                                    flex-wrap: wrap;
                                    justify-content: center;
                                    gap: 4px;
                                    color: #ffffff;
                                    max-width: 425px;

                                    @media (min-width:1900px) {
                                        padding-inline: 10px;
                                    }

                                    .angle_tag {
                                        display: flex;
                                        align-items: center;
                                        padding: 4px 6px;
                                        gap: 4px;
                                    }
                                }

                                .date {
                                    display: flex;
                                    align-items: center;
                                    font-size: 16px;
                                    color: rgba(255, 255, 255, 0.60);
                                }

                                .actions {
                                    display: flex;
                                    gap: 8px;

                                    button {
                                        background-color: transparent;
                                        border: none;
                                    }
                                }
                            }

                            tr.disable {
                                opacity: 0.4;

                                .table_angles {
                                    .angle_tag {
                                        border-radius: 8px;
                                        background-color: rgba(245, 239, 219, 0.16);
                                    }
                                }
                            }
                        }
                    }
                }

                .synergies_table_pagination {
                    padding: 0 20px 18px 0;
                    display: flex;
                    justify-content: end;
                    align-items: center;
                    margin-top: 25px;

                    .synergies_table_pagination_content {
                        display: flex;
                        justify-content: space-between;
                        color: #BDBDBD;

                        .synergies_table_pagination_content_text {
                            font-size: 14px;
                            color: #fff;
                            display: flex;
                            gap: 8px;

                            .pagination_head {
                                color: #BDBDBD;
                            }

                            .pagination_dropdown {
                                select {
                                    border: none;
                                    background: transparent;
                                    color: #fff;
                                    cursor: pointer;
                                    font-family: "Inter", sans-serif;
                                    font-size: 14px;
                                    outline: 0px;

                                    option {
                                        background-color: #242623;
                                    }
                                }
                            }

                            .synergies_table_pagination_content_arrows {
                                display: flex;
                                gap: 12px;

                                .table_pagination_content_button {
                                    background: transparent;
                                    border: none;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;

                                    svg {
                                        path {
                                            height: 20px;
                                            width: 20px;
                                        }
                                    }

                                    &:focus {
                                        svg {
                                            path {
                                                fill: #fff;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                .synergies_page_accordion {
                    padding-bottom: 18px;

                    @media (min-width: 1099px) {
                        display: none;
                    }
                }
            }

            .card_container {
                padding: 20px 14px 20px 14px;
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                row-gap: 24px;
                margin-right: -12px;
                flex-grow: 1;

                @media (max-width: 767px) {
                    margin-right: -8px;
                    row-gap: 16px;
                }
                .card_wrap {
                    padding-inline: 12px;
                    flex-basis: calc(100% / 5);
                    max-width: calc(100% / 5);
        
                    @media (max-width: 1600px) {
                      flex-basis: calc(100% / 4);
                      max-width: calc(100% / 4);
                    }
        
                    @media (max-width: 1300px) {
                      flex-basis: calc(100% / 3);
                      max-width: calc(100% / 3);
                    }
        
                    @media (max-width: 1000px) {
                      padding-inline: 8px;
                      flex-basis: calc(100% / 2);
                      max-width: calc(100% / 2);
                    }
        
                    @media (max-width: 500px) {
                      flex-basis: calc(100%);
                      max-width: calc(100%);
                    }
        
                .card {
                    width: 100%;
                    height: 100%;
                    padding: 12px 16px;
                    display: flex;
                    flex-direction: column;
                    gap: 16px;
                    background-color: #242623;
                    border-radius: 10px;
                    min-height: 300px;

                    &:hover {
                        box-shadow: 1px 0px 20px 1px rgba(255, 138, 28, 0.35);
                    }

                    .card_image {
                        object-fit: contain;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        overflow: hidden;
                        border-radius: 8px;
                        width: 100%;
                        height: 140px;

                        @media (max-width: 1300px) {
                            width: 100%;
                            max-width: none;
                        }

                        img {
                            object-fit: cover;
                            height: 100%;
                            width: 100%;
                        }
                    }

                    .card_body {
                        display: flex;
                        flex-direction: column;
                        gap: 10px;

                        .name {
                            color: #F5EFDB;
                            font-family: "MedievalSharp", cursive;
                            font-size: 18px;
                            max-width: 100%;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }

                        .creator {
                            display: flex;
                            gap: 8px;
                            align-items: center;
                            color: rgba(255, 209, 166, 0.8);
                            font-size: 15px;

                            img {
                                height: 24px;
                                width: 24px;
                                border-radius: 30px;
                            }

                            .creator_name {
                                max-width: 100%;
                                white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis;
                            }
                        }

                        .tabs {
                            display: flex;
                            flex-wrap: wrap;
                            gap: 4px;
                            color: #ffffff;

                            .angle_tag {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                padding: 4px 8px;
                                font-size: 12px;
                                border-radius: 6px;
                                background: #191917;
                                gap: 4px;

                                .icon {
                                    display: flex;
                                    justify-content: center;
                                }

                                .text {
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                    display: -webkit-box;
                                    -webkit-line-clamp: 1;
                                    -webkit-box-orient: vertical;
                                    color: #f5efdb;
                                }
                            }

                            .global {
                                .angle_tag {
                                    position: relative;

                                    &::before {
                                        content: "";
                                        inset: 0;
                                        position: absolute;
                                        border-radius: 6px;
                                        padding: 1px;
                                        background: linear-gradient(to bottom right, #622BFD, #DA4370);
                                        -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
                                        -webkit-mask-composite: xor;
                                        mask-composite: exclude;
                                        pointer-events: none;
                                    }

                                    .text {
                                        background-image: linear-gradient(to bottom right, #622BFD, #DA4370);
                                        -webkit-background-clip: text;
                                        -webkit-text-fill-color: transparent;
                                    }
                                }
                            }

                            .graph {
                                .angle_tag {
                                    position: relative;

                                    &::before {
                                        content: "";
                                        inset: 0;
                                        position: absolute;
                                        top: 0;
                                        left: 0;
                                        border-radius: 6px;
                                        padding: 1px;
                                        background: linear-gradient(to bottom right, #E58A02, #DAB943);
                                        -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
                                        -webkit-mask-composite: xor;
                                        mask-composite: exclude;
                                        pointer-events: none;
                                    }

                                    .text {
                                        background-image: linear-gradient(to bottom right, #E58A02, #DAB943);
                                        -webkit-background-clip: text;
                                        -webkit-text-fill-color: transparent;
                                    }
                                }
                            }
                        }
                    }
                }}
            }
        }
    }
}