.page_box {
    display: flex;
    gap: 40px;
    margin-bottom: 15px;

    @media (max-width: 767px) {
        margin-bottom: 0px;
    }

    @media (max-width: 1199px) {
        gap: 20px;
    }

    .btn_gray {
        padding: 16px 24px;
        border: none;
        background-color: #4e4e4e94;
        font-size: 16px;
        font-weight: 500;
        color: #f5efdb;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;

        @media (max-width: 1600px) {
            font-size: 14px;
            padding: 10px 20px;
        }
    }

    .btn_delete {
        background-color: #ff9e9826;
        border: none;
        padding: 13px;

        @media (max-width: 1600px) {
            padding: 10px;
        }

        img {
            @media (max-width: 1600px) {
                width: 17px;
            }
        }
    }

    .content_header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 32px;

        @media (max-width: 1600px) {
            margin-bottom: 20px;
        }

        @media (max-width: 1199px) {
            flex-wrap: wrap;
        }

        @media (max-width: 767px) {
            margin-bottom: 0px;
            background-color: #191917;
        }

        .content_left {
            display: flex;
            align-items: center;
            gap: 10px;

            @media (max-width: 767px) {
                padding-inline: 24px;
                padding-top: 15px;
            }

            h2 {
                color: #fff;
                font-weight: 500;
                font-family: "MedievalSharp", cursive;
                font-size: 42px;

                @media (max-width: 1600px) {
                    font-size: 28px;
                }
            }

            .search_box {
                position: relative;
                min-width: 450px;

                @media (max-width: 1199px) {
                    min-width: 230px;
                }

                @media (max-width: 767px) {
                    display: none;
                }

                input {
                    background-color: #191917;
                    padding: 10px 24px 10px 52px;
                    border: 1px solid #3c3c3c;
                    border-radius: 9px;
                    width: 100%;
                    font-size: 16px;
                    color: #f5efdb;

                    &::placeholder {
                        color: #f5efdb;
                        font-size: 18px;
                        opacity: 0.5;

                        @media (max-width: 1199px) {
                            font-size: 14px;
                        }
                    }
                }

                .search_icon {
                    position: absolute;
                    left: 24px;
                    top: 50%;
                    transform: translateY(-50%);

                    @media (max-width: 1199px) {
                        left: 15px;
                    }
                }
            }
        }

        .content_right {
            display: flex;
            align-items: center;
            gap: 10px;

            @media (max-width: 767px) {
                display: none;
            }

            a {
                color: #f5efdb;
                text-decoration: none;
                font-size: 24px;
                font-weight: 500;
                line-height: 27.12px;
                font-family: "MedievalSharp", cursive;

                @media (max-width: 1600px) {
                    font-size: 18px;
                }
            }
        }
    }

    .project_page_data {
        padding: 20px 10px;
        border-radius: 20px;
        background-color: #191917;
        // background-image: url("../../assets/model-frame.png");
        // background-repeat: no-repeat;
        // background-position-x: 10px;
        // background-position-y: 10px;
        min-height: 540px;
        height: calc(100% - 80px);

        @media(max-width: 1600px) {
            height: calc(100% - 65px);
        }

        @media (max-width: 767px) {
            border-radius: 0;
            padding-block: 20px 0px;
        }

        .page_data {
            height: 100%;
            background-color: transparent;
            overflow-y: auto;

            .project_page_header {
                padding: 0px 14px 21px 14px;
                display: flex;
                flex-direction: column;
                border-bottom: 1px solid #f5efdb26;

                .project_page_header_top {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    @media (max-width: 767px) {
                        padding: 0px;
                    }

                    .project_pagination {
                        display: flex;
                        align-items: center;
                        font-size: 24px;
                        color: #fff;
                        background-color: #242623;
                        font-weight: 500;
                        font-family: "MedievalSharp", cursive;

                        @media (max-width: 767px) {
                            gap: 4px;
                            display: none;
                        }

                        .project_pagination_btn {
                            padding: 10px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            background-color: transparent;
                            border: none;

                            &.active {
                                background-color: rgba(78, 78, 78, 0.58);
                                color: #F5EFDB;

                                svg {
                                    path {
                                        stroke: #F5EFDB;
                                    }
                                }
                            }

                            svg {
                                height: 24px;
                                width: 24px;
                            }
                        }
                    }
                }

                .project_page_filter {
                    display: none;

                    &.active {
                        margin-top: 24px;
                        display: flex;
                        align-items: center;
                        gap: 18px;

                        @media (max-width: 767px) {
                            flex-direction: column;
                        }
                    }

                    .angels {
                        flex-grow: 1;
                        max-width: 280px;

                        @media (max-width: 767px) {
                            max-width: none;
                            width: 100%;
                            flex-grow: none;
                        }
                    }

                    .type {
                        flex-grow: 1;
                        max-width: 280px;

                        @media (max-width: 767px) {
                            max-width: none;
                            width: 100%;
                            flex-grow: none;
                        }
                    }

                    .project {
                        flex-grow: 1;
                        max-width: 280px;

                        @media (max-width: 767px) {
                            max-width: none;
                            width: 100%;
                            flex-grow: none;
                        }
                    }

                    .status {
                        flex-grow: 1;
                        max-width: 280px;

                        @media (max-width: 767px) {
                            max-width: none;
                            width: 100%;
                            flex-grow: none;
                        }
                    }

                    .sort {
                        flex-grow: 1;
                        max-width: 280px;

                        @media (max-width: 767px) {
                            max-width: none;
                            width: 100%;
                            flex-grow: none;
                        }
                    }
                }

                .project_page_header_button {
                    display: flex;
                    gap: 10px;

                    @media (max-width: 767px) {
                        width: 100%;
                        justify-content: space-between;
                    }

                    @media (min-width: 1600px) {
                        .btn_gray {
                            padding-block: 12px;
                        }
                    }

                    .btn_filter {
                        img {
                            height: 22px;
                            width: 22px;
                        }
                    }

                    .btn_gray.active {
                        background-color: #A18527;
                        color: white;
                    }

                    .btn_gray:disabled {
                        cursor: no-drop;
                        background-color: rgba(78, 78, 78, 0.16);
                        color: rgba(255, 255, 255, 0.4);
                    }
                }
            }

            .project_page_body {

                .project_page_table_handler {
                    overflow: hidden;
                    display: flex;
                    align-items: center;
                    gap: 18px;
                    padding: 0px 24px;
                    height: 0;
                    background-color: #242623;
                    transition: height 0.4s ease-out;

                    &.active {
                        padding: 12px 24px;
                        height: 68px;
                        margin-bottom: 20px;
                        border-bottom: 1px solid rgba(245, 239, 219, 0.15);
                        transition: height padding margin-bottom 0.4s ease-in;
                    }

                    @media (max-width: 1098px) {
                        flex-grow: 1;
                    }

                    @media (max-width: 1125px) {
                        justify-content: space-between;
                    }

                    .selected_count {
                        min-width: 110px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        gap: 5px;
                        color: #F5EFDB;
                        font-family: "Inter", sans-serif;

                        .costum_checkbox {
                            display: flex;
                            align-items: end;

                            .costum_checkbox_input {
                                display: none;
                            }

                            .costum_checkbox_label {
                                height: 24px !important;
                                width: 24px !important;
                                padding: 0.5px 10px;
                                background-color: rgba(78, 78, 78, 0.2);
                                border: 1px solid #fff;
                            }

                            .costum_checkbox_input:checked+.costum_checkbox_label {
                                position: relative;

                                &::after {
                                    content: '';
                                    display: block;
                                    position: absolute;
                                    top: -2px;
                                    left: -1px;
                                    height: 24px;
                                    width: 24px;
                                    background-image: url('../../assets/InputChecked.svg');
                                    background-repeat: no-repeat;
                                    background-size: cover;
                                    z-index: 5;
                                }
                            }
                        }
                    }

                    .table_actions {
                        display: flex;
                        justify-content: start;
                        align-items: center;
                        gap: 10px;

                        @media (max-width: 1125px) {
                            display: none;
                        }

                        button {
                            height: 42px;
                            box-sizing: border-box;
                            font-size: 16px;

                            @media (max-width: 1600px) {
                                font-size: 14px;
                            }
                        }

                        .btn_cancle {
                            img {
                                height: 22px;
                                width: 22px;
                            }
                        }

                        .btn_featured {
                            border: 1px solid;
                            border-image-source: linear-gradient(157.79deg, rgba(157, 140, 83, 0.6) 14.5%, rgba(186, 168, 108, 0.350334) 32.43%);
                            border-image-slice: 1;

                            svg {
                                height: 20px;
                                width: 24px;
                            }


                        }

                        .btn_create {
                            svg {
                                height: 20px;
                                width: 20px;
                            }
                        }

                        .btn_delete {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            border: none;
                            gap: 5px;
                            font-weight: 500;
                            color: #FF9E98;

                            img {
                                @media (max-width: 1600px) {
                                    width: 19px;
                                }
                            }

                            @media (max-width: 1098px) and (min-width: 767px) {
                                padding-inline: 5px;
                            }
                        }
                    }

                    .table_actions_button {
                        display: none;
                        gap: 16px;

                        @media (max-width: 1125px) {
                            display: flex;
                        }

                        .button_delete {
                            padding: 8px 10px;
                            background-color: #ff9e9826;
                            border: none;
                        }

                        .menu_button {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            padding: 8px 10px;
                            border: none;
                            background-color: rgba(78, 78, 78, 0.58);
                            ;
                        }

                        .buttom_menubar {
                            display: none;
                        }

                        .active_menu {
                            display: block;
                        }
                    }
                }

                .project_page_table {
                    margin: 0px 14px 20px 14px;
                    padding-bottom: 20px;
                    margin-top: 20px;
                    // height: calc(100vh - 394px);
                    // overflow-y: auto;

                    // @media(max-width: 1600px) {
                    //     height: calc(100vh - 357px);
                    // }


                    @media (max-width: 1240px) {
                        display: none;
                    }

                    table,
                    tr,
                    td {
                        border-collapse: collapse;
                    }

                    table {
                        width: 100%;

                        thead {
                            text-align: left;

                            th {
                                font-family: MedievalSharp;
                                font-size: 18px;
                                color: #F5EFDB;
                                font-weight: 400;
                                padding: 4px 12px;
                                border-bottom: 1px solid rgba(255, 239, 219, 0.15);

                                &.center {
                                    text-align: center;
                                }
                            }
                        }

                        tbody {
                            color: rgba(245, 239, 219, 0.6);
                            font-size: 14px;
                            font-family: "Inter", sans-serif;

                            .heighlighted {
                                background-color: rgba(218, 185, 67, 0.1);
                            }

                            .selected {
                                background-color: rgba(245, 239, 219, 0.1);
                            }

                            td {
                                opacity: 1;
                                padding: 8px 8px;
                                border-bottom: 1px solid rgba(245, 239, 219, 0.15);

                                @media (max-width:1199px) {
                                    padding: 0px;
                                }

                                .table_name {
                                    display: flex;
                                    align-items: center;
                                    font-size: 16px;
                                    gap: 5px;

                                    .costum_checkbox {
                                        display: flex;
                                        align-items: end;

                                        .costum_checkbox_input {
                                            display: none;
                                        }

                                        .costum_checkbox_label {
                                            height: 24px !important;
                                            width: 24px !important;
                                            padding: 0.5px 10px;
                                            background-color: rgba(78, 78, 78, 0.2);
                                            border: 1px solid #fff;
                                        }

                                        .costum_checkbox_input:checked+.costum_checkbox_label {
                                            position: relative;

                                            &::after {
                                                content: '';
                                                display: block;
                                                position: absolute;
                                                top: -2px;
                                                left: -1px;
                                                height: 24px;
                                                width: 24px;
                                                background-image: url('../../assets/InputChecked.svg');
                                                background-repeat: no-repeat;
                                                background-size: cover;
                                                z-index: 5;
                                            }
                                        }
                                    }

                                    .label {
                                        min-width: 90px;
                                    }
                                }

                                .actor {
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    color: rgba(255, 209, 166, 0.8);
                                    position: relative;

                                    ul {
                                        display: flex;
                                        flex-direction: row-reverse;
                                        list-style: none;
                                        margin: 0px;
                                        padding: 0px;

                                        li {
                                            position: relative;
                                            margin-left: -5px;
                                        }
                                    }

                                    img {
                                        height: 24px;
                                        width: 24px;
                                        border-radius: 30px;
                                    }
                                }

                                .table_image {
                                    border-radius: 11px;
                                    overflow: hidden;
                                    height: 5vw;
                                    width: 5vw;
                                    max-height: 100px;
                                    max-width: 100px;

                                    img {
                                        height: 100%;
                                        width: 100%;
                                    }
                                }

                                .description {
                                    max-width: 140px;
                                    display: flex;
                                    align-items: center;
                                    gap: 4px;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                    display: -webkit-box;
                                    -webkit-line-clamp: 4;
                                    -webkit-box-orient: vertical;
                                }

                                .table_angles {
                                    display: flex;
                                    flex-wrap: wrap;
                                    gap: 4px;
                                    color: #ffffff;
                                    max-width: 425px;

                                    @media (min-width:1900px) {
                                        padding-inline: 10px;
                                    }

                                    .angle_tag {
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                        padding: 4px 8px;

                                        font-size: 12px;
                                        border-radius: 10px;
                                        background: #191917;
                                        gap: 4px;
                                        max-width: 120px;

                                        .text {
                                            overflow: hidden;
                                            text-overflow: ellipsis;
                                            white-space: nowrap;
                                        }

                                        .angle_tag_count {
                                            padding: 0 2px;
                                        }

                                        .icon {
                                            svg {
                                                flex-basis: 18px;
                                                width: 18px;
                                                height: 18px;
                                            }
                                        }

                                    }

                                    .global {
                                        position: relative;

                                        &::before {
                                            content: "";
                                            inset: 0;
                                            position: absolute;
                                            border-radius: 10px;
                                            padding: 1px;
                                            background: linear-gradient(to bottom right, #622BFD, #DA4370);
                                            -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
                                            -webkit-mask-composite: xor;
                                            mask-composite: exclude;
                                            pointer-events: none;
                                        }

                                        .angle_tag {
                                            .text {
                                                background-image: linear-gradient(to bottom right, #622BFD, #DA4370);
                                                -webkit-background-clip: text;
                                                -webkit-text-fill-color: transparent;
                                            }
                                        }
                                    }

                                    .graph {
                                        .angle_tag {
                                            position: relative;

                                            &::before {
                                                content: "";
                                                inset: 0;
                                                position: absolute;
                                                top: 0;
                                                left: 0;
                                                border-radius: 10px;
                                                padding: 1px;
                                                background: linear-gradient(to bottom right, #E58A02, #DAB943);
                                                -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
                                                -webkit-mask-composite: xor;
                                                mask-composite: exclude;
                                                pointer-events: none;
                                            }

                                            .text {
                                                background-image: linear-gradient(to bottom right, #E58A02, #DAB943);
                                                -webkit-background-clip: text;
                                                -webkit-text-fill-color: transparent;
                                            }
                                        }
                                    }
                                }

                                .table_type {
                                    display: flex;
                                    flex-wrap: wrap;
                                    align-items: center;
                                    justify-content: center;
                                    font-size: 14px;
                                    gap: 4px;

                                    .table_tag {
                                        display: inline-flex;
                                        justify-content: center;
                                        align-items: center;
                                        white-space: nowrap;
                                        overflow: hidden;
                                        text-overflow: ellipsis;
                                        background-color: rgba(47, 46, 42, 0.46);
                                        padding: 2px 5px;
                                        border-radius: 3px;
                                    }
                                }

                                .status {
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;

                                    .status_tabs {
                                        position: relative;

                                        &::before {
                                            content: "";
                                            inset: 0;
                                            position: absolute;
                                            top: 0;
                                            left: 0;
                                            border-radius: 10px;
                                            padding: 1px;
                                            background: linear-gradient(to bottom right, #9D8C53, rgba(186, 168, 108, 0.58));
                                            -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
                                            -webkit-mask-composite: xor;
                                            mask-composite: exclude;
                                            pointer-events: none;
                                        }

                                        .status_tab {
                                            display: flex;
                                            justify-content: center;
                                            align-items: center;
                                            gap: 4px;
                                            background: #191917;
                                            border-radius: 10px;
                                            padding: 5px 10px;

                                            svg {
                                                height: 15px;
                                                width: 15px;
                                            }
                                        }
                                    }
                                }

                                .date {
                                    display: flex;
                                    align-items: center;
                                    font-size: 14px;
                                    color: rgba(255, 255, 255, 0.60);
                                }

                                .actions {
                                    display: flex;
                                    gap: 8px;

                                    button {
                                        background-color: transparent;
                                        border: none;
                                    }
                                }
                            }

                            tr.disable {
                                opacity: 0.4;

                                .table_angles {
                                    .angle_tag {
                                        border-radius: 8px;
                                        background-color: rgba(245, 239, 219, 0.16);
                                    }
                                }
                            }
                        }
                    }
                }

                .project_page_accordion {
                    display: none;
                    padding-block: 20px;

                    @media (max-width: 1240px) {
                        display: block;
                    }
                }
            }
        }
    }
}